<div class="flex mt-8 items-start justify-center text-white">
  <div class="p-6 rounded-lg shadow-md w-full max-w-2xl bg-gradient-to-r from-purple-700 to-indigo-900">
      <div class="flex items-center gap-4 ">
          <div>
              <label class="font-bold block mb-1">Artist</label>
              <input type="text" placeholder="Enter artist" class="input input-bordered w-64 h-10 px-4 opacity-80" />
          </div>
          <div class="">
              <label class="font-bold block mb-1">Album</label>
              <input type="text" placeholder="Enter album" class="input input-bordered w-64 h-10 px-4 opacity-80" />
          </div>
          <button class="btn btn-outline text-black border-white bg-primary-content hover:bg-white hover:text-purple-700 ml-auto self-end h-12 px-4">Search</button>
      </div>
  </div>
</div>
<albums></albums>
