<section class="container flex justify-center">
  <div class="my-10">
    <div class="join join-vertical bg-base-90">

      <div class="collapse collapse-arrow bg-primary-content border border-base-300 my-2">
        <input type="checkbox" class="peer" />
        <div class="collapse-title font-semibold">How do I create an account?</div>
        <div class="collapse-content text-sm">You don't need to create an account, just connect your spotify account.</div>
      </div>
      <div class="collapse collapse-arrow border bg-primary-content border-base-300 my-2">
        <input type="checkbox" class="peer" />
        <div class="collapse-title font-semibold">How can I generate album recommendations?</div>
        <div class="collapse-content text-sm">Click on search for an album, choose an album you like and your recommendations will be generated.</div>
      </div>
      <div class="collapse collapse-arrow border bg-primary-content border-base-300 my-2">
        <input type="checkbox" class="peer" />
        <div class="collapse-title font-semibold">Can I save album recommendations to my Spotify account?</div>
        <div class="collapse-content text-sm">Yes, click on save and the album will be saved in your Spotify account.
        </div>
      </div>
    </div>
  </div>
</section>
