<section class="hero min-h-screen text-white">
  <div class="hero-content text-center">
    <div class="max-w-lg">
      <h1 class="text-6xl font-bold">Discover incredible albums</h1>
      <p class="py-6 text-xl">Receive personalized recommendations based on your favorite music album, save it to your Spotify if you want.</p>
      <button class="btn btn-lg" (click)="onSignIn()">Sign in to your Spotify account
        <span class="material-symbols-outlined rotated bg-green-500">
          contactless
          </span>
      </button>
    </div>
  </div>
</section>
