<ng-template #loading>
  <div class="spinner-container text-white">
    <span class="loading loading-spinner loading-xl mb-5"></span>
    <p class="font-semibold uppercase italic">generating album recommendations</p>
  </div>
</ng-template>

<ng-container *ngIf="recommendationsData$ | async; else loading">
  <div class="container mx-auto px-4 py-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">

      <div class="card bg-base-100 shadow-xl" *ngFor="let album of recommendedAlbums">
        <figure>
          <img [src]="album.images[1].url" [alt]="album.name" class="object-cover h-48 w-full rounded-t-xl" />
        </figure>
        <div class="card-body">
          <h2 class="card-title text-lg font-bold">{{ album.name }}</h2>
          <span *ngFor="let artist of album.artists" class="text-sm font-medium text-gray-500">
            {{ artist.name }}
          </span>

          <div class="card-actions justify-end mt-2">
            <label class="flex items-center gap-2 cursor-pointer">
              <input type="checkbox" class="sr-only peer" (click)="onSaveAlbum(album.id)">
              <div class="w-12 h-6 bg-gray-300 peer-checked:bg-green-500 rounded-full transition-all relative">
                <div
                  class="absolute top-1 left-1 w-4 h-4 bg-white rounded-full shadow-md peer-checked:translate-x-6 transition-transform">
                </div>
              </div>
              <span class="text-gray-500 peer-checked:text-green-500 transition-colors text-sm font-medium">
                Save on Spotify
              </span>
            </label>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-container>
